.app-container {
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-list {
    list-style-type:none;
}

.games-list li {
    display: inline-block;
    padding: 10px;
}