.search-list-container {
    margin: 50px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-list-table {
    border-collapse: collapse;
    width: 600px;
}

.search-list-table tr:nth-child(even) {background-color: #f2f2f2;}

.search-list-table tr:hover {background-color: #ddd;}

.search-list-table td, .search-list-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.search-list-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 183, 116);
    color: white;
}

.btn-back {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    text-decoration: none;
    color:white;
    padding: 10px;
    background-color: rgb(11, 142, 94);
    border-radius: 5px;
}
.btn-back:hover {
    color:lightblue;
}

.error {
    margin: 0 auto;
}